


.player video{
   width: 1335px;
}



/* Route Section */
.navSections{
   display: flex;
   justify-content: space-between;
   align-items: center;
   color: rgb(255, 255, 255);
   background-color: rgb(74 79 84);
   /* padding: 10px; */
}
.list-numbers{
   border-right: 1px solid white;
   margin-left: 10px;
   padding-right: 40px;
}