

.images img{
   width: 1440px;
   height: 550px;
}
.icon{
   margin-left: 80px;
   width: 100px;
      display: block;
      height: auto;
}
.newSvg{
   margin-right: 20px;
}
.svgimg{
   width: 20px;
}
.navbarItem a{
   font-size: 13px;
}
.Footer{
   background-color: rgb(74 79 84);;
}
.cnt{
background-color: rgb(74 79 84);
}